<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <section class="py-10">
      <h1 class="text-center text-3xl">Books</h1>
      <div class="grid grid-cols-4 gap-4">
        {%for book in books%}
        <div>
          <h1>{{book.title}}</h1>
          <img src="{{book.thumbnailUrl}}" alt="" />
        </div>
        {%endfor%}
      </div>
    </section>
  </body>
</html>
